/**
*	Made by Knut Kirkhorn - Licensed MIT
**/

._nd_ ._hh7, ._hh7 {
    background-color: rgb(141, 60, 60);
    color: #1a1a1a;
}

._4sp8 {
    color: rgb(198, 84, 84);
    background-color: rgb(49, 49, 49);
}

._17w2, ._3szq, ._1ht6, .__6m, ._4ik6, ._ih3, ._5i_d .__6m, ._2jnv, ._364g, ._4rpj, ._1ht3 ._1htf, ._4rph ._4rpj, ._llq ._3oh- {
    color: rgb(198, 84, 84);
}

._3xn1 {
    background-color: rgb(198, 84, 84);
}

._2s1x ._2s1y {
    background-color: rgb(49, 49, 49);
    border-bottom: 1px solid #803d3d;
}

._5swm {
    color: white;
}

._1ht7, ._497p, ._2v6o, ._3eus, ._1lj0, ._kmc ._1p1t, ._1n-e._36zg, ._1n-e {
    color: rgba(234, 234, 234, 0.4);
}

._58ak ._58al:not(#js_c){
    background-color: #717171;
}